# Ignore parameter .json files
monitor_setting.json
pump_parameter.json
tgt_parameter.json
/experiment/exp_parameter.json
/calibration/cal_parameter.json
# Ignore python runtime files
*.pyc
*/*/*/__pycache__/
*/*/__pycache__/
*/__pycache__/
# Ignore data
data/**
